openapi: 3.2.0
info:
  title: Zesty Media Resolver API
  description: 'The Zesty.io Media API is a collection of services for managing media files in the Zesty.io platform. It consists of four services: Media Manager (database communication and primary endpoints), Media Storage (communicates with storage provider), Media Modify (image manipulation), and Media Resolver (returns CDN paths for media file ZUIDs). The Media Manager service is the most commonly used and handles bins, groups (folders), and file management.'
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://media-manager.api.zesty.io
  description: Zesty Media Manager Service
- url: https://media-storage.api.zesty.io
  description: Zesty Media Storage Service
- url: https://media-modify.api.zesty.io
  description: Zesty Media Modify Service
- url: https://media-resolver.api.zesty.io
  description: Zesty Media Resolver Service
tags:
- name: Resolver
  description: Resolve file ZUIDs to CDN URLs.
paths:
  /resolve/{fileZUID}:
    get:
      operationId: resolveFile
      summary: Zesty Resolve a file to its CDN URL
      description: Returns the CDN URL for a media file by its ZUID. This endpoint is served by the Media Resolver service.
      tags:
      - Resolver
      servers:
      - url: https://media-resolver.api.zesty.io
        description: Zesty Media Resolver Service
      parameters:
      - name: fileZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the file to resolve.
      responses:
        '200':
          description: CDN URL for the file.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: The CDN URL for the file.
        '404':
          description: File not found.
components:
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token or access token obtained from the Auth API.
externalDocs:
  description: Zesty Media API Documentation
  url: https://docs.zesty.io/docs/media
