openapi: 3.1.0
info:
  title: Zesty Accounts Apps Head Tags API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Head Tags
  description: Manage HTML head tag entries.
paths:
  /web/headtags:
    get:
      operationId: getHeadTags
      summary: Zesty List all head tags
      description: Returns a list of all HTML head tags in the instance.
      tags:
      - Head Tags
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of head tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HeadTag'
        '401':
          description: Unauthorized.
    post:
      operationId: createHeadTag
      summary: Zesty Create a head tag
      description: Creates a new HTML head tag entry for the instance.
      tags:
      - Head Tags
      security:
      - sessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - resourceZUID
              properties:
                type:
                  type: string
                  description: The tag type (e.g., meta, link, script).
                resourceZUID:
                  type: string
                  description: The ZUID of the resource this tag applies to.
                attributes:
                  type: object
                  description: Key-value pairs of HTML attributes.
                sort:
                  type: integer
      responses:
        '201':
          description: Head tag created successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /web/headtags/{headTagZUID}:
    get:
      operationId: getHeadTag
      summary: Zesty Get a head tag
      description: Returns a specific head tag.
      tags:
      - Head Tags
      security:
      - sessionToken: []
      parameters:
      - name: headTagZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the head tag.
      responses:
        '200':
          description: Head tag details.
        '401':
          description: Unauthorized.
        '404':
          description: Head tag not found.
    put:
      operationId: updateHeadTag
      summary: Zesty Update a head tag
      description: Updates a specific head tag.
      tags:
      - Head Tags
      security:
      - sessionToken: []
      parameters:
      - name: headTagZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the head tag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                attributes:
                  type: object
                sort:
                  type: integer
      responses:
        '200':
          description: Head tag updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Head tag not found.
    delete:
      operationId: deleteHeadTag
      summary: Zesty Delete a head tag
      description: Deletes a specific head tag.
      tags:
      - Head Tags
      security:
      - sessionToken: []
      parameters:
      - name: headTagZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the head tag.
      responses:
        '200':
          description: Head tag deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Head tag not found.
components:
  schemas:
    HeadTag:
      type: object
      properties:
        ZUID:
          type: string
        type:
          type: string
        resourceZUID:
          type: string
        attributes:
          type: object
        sort:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
