openapi: 3.1.0
info:
  title: Zesty Accounts Apps Scripts API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Scripts
  description: Manage JavaScript files.
paths:
  /web/scripts:
    get:
      operationId: getScripts
      summary: Zesty List all scripts
      description: Returns a list of all JavaScript files in the instance.
      tags:
      - Scripts
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of scripts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Script'
        '401':
          description: Unauthorized.
    post:
      operationId: createScript
      summary: Zesty Create a script
      description: Creates a new JavaScript file in the instance.
      tags:
      - Scripts
      security:
      - sessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - fileName
              - code
              properties:
                fileName:
                  type: string
                code:
                  type: string
                type:
                  type: string
      responses:
        '201':
          description: Script created successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /web/scripts/{scriptZUID}:
    get:
      operationId: getScript
      summary: Zesty Get a script
      description: Returns a specific script file and its code content.
      tags:
      - Scripts
      security:
      - sessionToken: []
      parameters:
      - name: scriptZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the script.
      responses:
        '200':
          description: Script details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Script'
        '401':
          description: Unauthorized.
        '404':
          description: Script not found.
    put:
      operationId: updateScript
      summary: Zesty Update a script
      description: Updates the code content of a specific script file.
      tags:
      - Scripts
      security:
      - sessionToken: []
      parameters:
      - name: scriptZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the script.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
      responses:
        '200':
          description: Script updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Script not found.
components:
  schemas:
    Script:
      type: object
      properties:
        ZUID:
          type: string
        fileName:
          type: string
        code:
          type: string
        type:
          type: string
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
