openapi: 3.1.0
info:
  title: Zesty Accounts Apps Password API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Password
  description: Password management operations.
paths:
  /password/request:
    post:
      operationId: requestPasswordReset
      summary: Zesty Request a password reset
      description: Sends a password reset email to the specified email address if an account with that email exists.
      tags:
      - Password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  description: The email address associated with the account.
      responses:
        '200':
          description: Password reset email sent if the account exists.
        '400':
          description: Invalid request.
  /password/reset:
    post:
      operationId: resetPassword
      summary: Zesty Reset a user password
      description: Resets the user's password using the reset token received via email.
      tags:
      - Password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - password
              properties:
                token:
                  type: string
                  description: The password reset token from the email.
                password:
                  type: string
                  format: password
                  description: The new password.
      responses:
        '200':
          description: Password successfully reset.
        '400':
          description: Invalid or expired token.
components:
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
