openapi: 3.2.0
info:
  title: Zesty Accounts Teams API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Teams
  description: Manage teams.
paths:
  /teams:
    get:
      operationId: getTeams
      summary: Zesty List all teams
      description: Returns a list of all teams in the account.
      tags:
      - Teams
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized.
    post:
      operationId: createTeam
      summary: Zesty Create a new team
      description: Creates a new team.
      tags:
      - Teams
      security:
      - sessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the team.
                description:
                  type: string
                  description: A description of the team.
      responses:
        '201':
          description: Team created successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /teams/{teamZUID}:
    get:
      operationId: getTeam
      summary: Zesty Get a team
      description: Returns details for a specific team by its ZUID.
      tags:
      - Teams
      security:
      - sessionToken: []
      parameters:
      - name: teamZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the team.
      responses:
        '200':
          description: Team details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
    put:
      operationId: updateTeam
      summary: Zesty Update a team
      description: Updates the details of a specific team.
      tags:
      - Teams
      security:
      - sessionToken: []
      parameters:
      - name: teamZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the team.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Team updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
    delete:
      operationId: deleteTeam
      summary: Zesty Delete a team
      description: Deletes a specific team.
      tags:
      - Teams
      security:
      - sessionToken: []
      parameters:
      - name: teamZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the team.
      responses:
        '200':
          description: Team deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
components:
  schemas:
    Team:
      type: object
      properties:
        ZUID:
          type: string
          description: The Zesty Universal Identifier for the team.
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
