openapi: 3.2.0
info:
  title: Zesty Accounts Users API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Users
  description: Manage user accounts.
paths:
  /users:
    get:
      operationId: getUsers
      summary: Zesty List all users
      description: Returns a list of all users in the account.
      tags:
      - Users
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized.
  /users/{userZUID}:
    get:
      operationId: getUser
      summary: Zesty Get a user
      description: Returns details for a specific user by their ZUID.
      tags:
      - Users
      security:
      - sessionToken: []
      parameters:
      - name: userZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the user.
      responses:
        '200':
          description: User details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized.
        '404':
          description: User not found.
    put:
      operationId: updateUser
      summary: Zesty Update a user
      description: Updates the details of a specific user.
      tags:
      - Users
      security:
      - sessionToken: []
      parameters:
      - name: userZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: User updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: User not found.
    delete:
      operationId: deleteUser
      summary: Zesty Delete a user
      description: Deletes a specific user.
      tags:
      - Users
      security:
      - sessionToken: []
      parameters:
      - name: userZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the user.
      responses:
        '200':
          description: User deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: User not found.
components:
  schemas:
    User:
      type: object
      properties:
        ZUID:
          type: string
          description: The Zesty Universal Identifier for the user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
