openapi: 3.2.0
info:
  title: Zesty Accounts Tokens API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Tokens
  description: Manage API access tokens.
paths:
  /tokens:
    get:
      operationId: getTokens
      summary: Zesty List all access tokens
      description: Returns a list of all access tokens for the account.
      tags:
      - Tokens
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of access tokens.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized.
    post:
      operationId: createToken
      summary: Zesty Create an access token
      description: Creates a new access token for API authentication.
      tags:
      - Tokens
      security:
      - sessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - roleZUID
              properties:
                name:
                  type: string
                  description: A descriptive name for the token.
                roleZUID:
                  type: string
                  description: The role ZUID to associate with this token.
      responses:
        '201':
          description: Token created successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
  /tokens/{tokenZUID}:
    get:
      operationId: getToken
      summary: Zesty Get an access token
      description: Returns details for a specific access token.
      tags:
      - Tokens
      security:
      - sessionToken: []
      parameters:
      - name: tokenZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the token.
      responses:
        '200':
          description: Token details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized.
        '404':
          description: Token not found.
    delete:
      operationId: deleteToken
      summary: Zesty Delete an access token
      description: Deletes a specific access token.
      tags:
      - Tokens
      security:
      - sessionToken: []
      parameters:
      - name: tokenZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the token.
      responses:
        '200':
          description: Token deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Token not found.
components:
  schemas:
    Token:
      type: object
      properties:
        ZUID:
          type: string
          description: The Zesty Universal Identifier for the token.
        name:
          type: string
        roleZUID:
          type: string
        token:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
