openapi: 3.2.0
info:
  title: Zesty Accounts Apps Settings API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Settings
  description: Manage instance settings.
paths:
  /env/settings:
    get:
      operationId: getSettings
      summary: Zesty List all instance settings
      description: Returns all settings for the instance.
      tags:
      - Settings
      security:
      - sessionToken: []
      responses:
        '200':
          description: A list of settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Setting'
        '401':
          description: Unauthorized.
  /env/settings/{settingZUID}:
    get:
      operationId: getSetting
      summary: Zesty Get a setting
      description: Returns a specific instance setting.
      tags:
      - Settings
      security:
      - sessionToken: []
      parameters:
      - name: settingZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the setting.
      responses:
        '200':
          description: Setting details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Setting'
        '401':
          description: Unauthorized.
        '404':
          description: Setting not found.
    put:
      operationId: updateSetting
      summary: Zesty Update a setting
      description: Updates the value of a specific instance setting.
      tags:
      - Settings
      security:
      - sessionToken: []
      parameters:
      - name: settingZUID
        in: path
        required: true
        schema:
          type: string
        description: The ZUID of the setting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: The new value for the setting.
      responses:
        '200':
          description: Setting updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Setting not found.
components:
  schemas:
    Setting:
      type: object
      properties:
        ZUID:
          type: string
        key:
          type: string
        value:
          type: string
        category:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
