openapi: 3.2.0
info:
  title: Zesty Accounts Apps Navigation API
  description: The Zesty.io Accounts API is used to manage users, roles, instances, teams, tokens, ecosystems, webhooks, and apps. It provides administrative control over the organizational structure of a Zesty.io account. All endpoints require authentication via a session token obtained from the Auth API.
  version: 1.0.0
  contact:
    name: Zesty.io
    url: https://www.zesty.io/
  license:
    name: Proprietary
    url: https://www.zesty.io/
servers:
- url: https://accounts.api.zesty.io/v1
  description: Zesty Accounts API Production Server
tags:
- name: Navigation
  description: Manage the instance navigation tree.
paths:
  /env/nav:
    get:
      operationId: getNavigation
      summary: Zesty Get navigation tree
      description: Returns the navigation tree for the instance.
      tags:
      - Navigation
      security:
      - sessionToken: []
      responses:
        '200':
          description: The navigation tree.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ZUID:
                          type: string
                        label:
                          type: string
                        parentZUID:
                          type: string
                        sort:
                          type: integer
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: A session token obtained from the Auth API login endpoint.
externalDocs:
  description: Zesty Accounts API Documentation
  url: https://docs.zesty.io/docs/accounts
